* {
    box-sizing: border-box;
  }
  
  /* Body Style */
  body {
    font-family: 'Comfortaa', sans-serif;
    margin: 0;
  }
/* Header Style */
  .header {
    padding: 70px;
    text-align: center;
    background: url(images/cocotree1.png) 95%;
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgb(115, 127, 65);
  }

  /* Slideshow container */
  .slideshow-container {
    width: 100%;
    height: 600px;
    position: relative;
    margin: auto;
    background-color: #ffffff;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
/* Set image height */
  img {
    max-height: 600px;
  }
  
  /* The dots/bullets/indicators */
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* Color of dots when hovered over */
  .active, .dot:hover {
    background-color: #717171;
  }
  
  /* Fading animation */
  .fade {
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }


  
  /* Font size of heading */
  .header h1 {
    font-size: 70px;
        text-shadow: 3px 3px 1px rgba(17, 15, 14, 0.972);
        -webkit-text-stroke: 0px #0f0e0e;
        /* Webkit (Safari/Chrome) */
        text-shadow: 1px #825151;
        /* Standard */
        -webkit-text-fill-color: #f5d7b8;
  }


  /* Style top navigation bar */
  .topnav {
    overflow: hidden;
    background-color: #593d20;
    font-size: 1.2em;
  }
  
  /* Audio Control Styles */
  audio {
    opacity: 0.2;
    position: absolute;
    right: 0;
    top: 0;
  }

  /* Side Navigation Menu Styles */
  .sidenav a {
    position: fixed;
    left: -80px;
    transition: 0.3s; 
    padding: 15px; 
    width: 100px; 
    text-decoration: none;
    font-size: 20px; 
    color: white; 
    border-radius: 0 5px 5px 0;
  }
  
  .sidenav a:hover {
    left: 0; 
  }
  
  
  #index {
    top: 20px;
    background-color: #291a0ad0; /* Home Button Color */
  }
  
  #cafe {
    top: 80px;
    background-color: #291a0ad0;  /* Cafe Button Color */
  }
  
  #resto {
    top: 140px;
    background-color: #291a0ad0;  /* Restaurant Button Color */
    width: auto;
    left: -133px;
  }

  #resto:hover {  
    left: 0;
  }
  
  #sight {
    top: 200px;
    background-color: #291a0ad0;  /* Sights Button Color */
  }
  #faq {
    top: 260px;
    background-color: #291a0ad0;  /* FAQ Button Color */
  }


    /* Top Navigation Bar Styles */
    .topnav a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
  /* Menu Button on Topnav Bar Style */
    .topnav span {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 14px 20px;
      text-decoration: none;
    }
  
    .topnav span:hover {
      background-color: #fff9f9;
      color: rgb(0, 0, 0);
      text-decoration: underline;
      cursor: pointer;
    }
    
    /* Right link */
    .topnav a.right {
      float: right;
    }
    
    /* Change color on hover */
    .topnav a:hover {
      background-color: #fff9f9;
      color: rgb(0, 0, 0);
      text-decoration: underline;
    }

  /* Column container */
  .row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
  }
  

  /* Sidebar/left column */
  .side {
    display: none;
    background-color: #ffffff;
    padding: 20px;
    float: left;
    flex: 30%;
    -ms-flex: 30%; /* IE10 */
  }

  /* Table Styles */
  .table {
    display: block;
    margin: auto;
  }
  
  /* Main Column Styles */
  .main {   
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(253, 238, 208, 0.949);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
  }
 /* Sights Page Main Column Styles */
  .sightmain {
    max-width: 89%;
    margin: 0px auto 16px;
    background: rgba(253, 238, 208, 0.949);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
    line-height: 1.7;
    text-align: center;
  }
 /* Cafe Page Main Column Styles */
  .cafemain {
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(253, 238, 208, 0.949);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
  }
  /* Home Page Main Column Styles */
  .homemain {
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(253, 238, 208, 0.949);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
    text-align: center;
    line-height: 1.8;
  }
  /* Restaurants Page Main Column Styles */
  .restmain {
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(253, 238, 208, 0.949);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
    text-align: center;
  }

  .homemain h2 {
    font-size: 35px;
  }
 /* FAQ Page Main Column Styles */
  .mainfaq {
    text-align: center;
    color: white;
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(19, 25, 3, 0.882);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;

  }

  .mainfaq h1 {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 3rem;
    font-weight: bolder;
  }

  .mainfaq h5 {
    font-size: 30px;
  }
  
  .main h3 {
    font-size: 1.0em;
  }
  .main h5 {
    font-size: 1.0em;
  }

  /* Container on Cafe Page Styles */
  .cafemain-container {
    padding: 20px;
  }
  .ohas-container {
    text-align: center;
    max-width: 89%;
    margin: 50px auto 16px;
    background: rgba(237, 225, 199, 0.882);
    border-radius: 8px;
    padding: 30px;
    box-shadow: rgba(15, 41, 77, 0.12) 0px 4px 10px;
  }

  .ohas-container ul {
    text-align: center;
  }

  .cafemain {
    text-align: center;
  }

  .cafe670 > img { 
    width: 70%;
  }

  .ohas1 > img {
    width: 70%;
  }

  .ohascake > img {
    width: 70%;
  }

  .ohas1 p {
    margin-left: 10%;
    margin-right: 10%;
  }

  .maps {
    padding: 20px;
  }
  
  .transportation a {
    color: white;
    text-align: center;
  }

  .citizen p {
    line-height: 2.0;
    margin-left: 30px;
    margin-right: 30px;
  }

  /* Form Styles */
   form {
    align-items: center;
    margin: auto;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 20px;
    background-color: #9b8e83ca;
   }
   
 .input__container {
    display: flex;
    flex-direction: column;
    align-self: center;
    row-gap: 0.8rem;
    width: 75%;
   }
   
 .input__container label { 
    font-size: 1.5rem; 
   }
   
 .input__container input,
   textarea {
    font-family: 'Comfortaa', sans-serif;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: 1px solid #555;
    resize: none;
   }
   /* Submit Button Style */
 button {
    font-family:'Comfortaa', sans-serif;
    align-self: center;
    padding: 1rem 2rem;
    border-radius: 5px;
    border: none;
    background: #1a1513c9;
    color: #f9f5f5;
    cursor: pointer;
   }

   button:hover {
    background-color: #000000;
   }
  
  /* Footer Styles */
  .footer {
    text-align: center;
    background: rgb(77, 51, 34);
    padding: 50px 70px 210px 50px;
  }

  /* Quick Links, Bottom Left Footer Styles */
  .quick {
    color: #f2f2f2;
    float: left;
  }

  .quick a {
    color: #f2f2f2;
    text-decoration: none;
  }

  .quick a:hover {
    text-decoration: underline;
  }

  /* Contact Info, Bottom Right Footer Styles */
  .contact {
    text-align: right;
    margin-right: 30px;
    color: #f2f2f2;
  }

  .contact a {
    color: #f2f2f2;
    text-decoration: none;
  }

  .contact a:hover {
    text-decoration: underline;
  }
 /* Disclaimer, Footer Style */
  .disclaimer {
    float: right;
    width: 300px;
    color: #f2f2f2;
    line-height: 1.5;
  }

    /* The Overlay (background) */
 .overlay {  
  height: 100%;
  width: 0;
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); 
  background-color: rgba(0,0,0, 0.9); 
  overflow-x: hidden; 
  transition: 0.5s; 
 }

 /* Position the content inside the overlay */
 .overlay-content {
  position: relative;
  top: 25%; 
  width: 100%; 
  text-align: center; 
  margin-top: 30px; 
 }

/* The navigation links inside the overlay */
  .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block; 
  transition: 0.3s;   
}

 /* When you mouse over the navigation links, change their color */
 .overlay a:hover, .overlay a:focus {
  color: #f1f1f1;
  cursor: pointer;
 }

 /* Position the close button (top right corner) */
 .overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
 }

  
 
  @media screen and (max-width: 1600px) {
    .smallmap {
      display: none;
    }
  }

 /* When the screen is less than 700px wide, apply these styles */
  @media screen and (max-width: 700px) {

    body {
      max-width: 700px;
    }
    .row {   
      flex-direction: column;
    }

    .table {
      display: none;
    }
    .maps {
      display: none;
    }
    .smallmap {
      display: contents;
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }

    .disclaimer {
      margin-left: auto;
    }
    .contact {
      margin-right: auto;
    }

    .slideshow-container {
      width: 100%;
      height: auto;
      background-color: white;
    }
  }
  
  /* When the screen is less than 400px wide, apply these styles */
  @media screen and (max-width: 390px) {
    .topnav a, span {
      float: none;
      width: 100%;
    }
    
    .header > h1 {
      display: flex;
      font-size: 2.5rem;
    }

    .slideshow-container {
      width: 100%;
      height: auto;
      background-color: white;
    }

    img {
      width: 390px;
    }
    .row {
      width: 390px;
    }

    .row1 {
      flex-wrap: wrap;
      flex-direction: column;
    }

    .table {
      display: none;
    }

    .footer {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      text-align: right;
    }

    .disclaimer {
      margin-left: auto;
    }
    .contact {
      margin-right: auto;
    }

    .maps {
      display: none;
    }
    .smallmap {
      display: contents;
    }
  }